body {
    background-image: url("../img/treno.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    
}
.container {
    width: 40%;
    height: 500px;
    margin: 0 auto;
    background: #fff;
    background: linear-gradient(to right bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5));
    margin-top: 80px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-size: 30px;
    height: auto;
    text-transform: uppercase;
    color: #fff;
    padding: 5px 20px;
    border-radius: 10px;
    background: linear-gradient(to bottom right,#006CFA, #00DA70);
}
#pdf {
    background: linear-gradient(to top right,red, yellow);
}
#pdf:hover {
    -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
    cursor: pointer;
 }
